<div class="row">
  <div class="col"><img class="img-responsive center-block" src="{{user.image}}"
      style="width: 250px;margin-bottom: 25px;"></div>
  <div class="col">
    <h1>{{user.name}}</h1>
    <a href="/users/{{user.id}}/edit" class='btn'>edit</a>
  </div>
</div>